* {
   margin:0;
   padding: 0;
   

}
.body_index {
    max-width: 100%;
    position: absolute;
    top: -1vh;
    right: 0vw;
    left:0vw;
    overflow-x: hidden;
}
.pad {
    padding: 1vh;
}
.font {font-family: "Montserrat";
}
.a {
    cursor: pointer;
}
.link {
    text-decoration: none;
    
}
.white {
    color:white
}
.italic {
    font-style: italic;
}
.logoMoa {
    height: 15vh;
    position: relative;
    left: 2vw;
}
.social { 
    padding: 0.4vw;

}
.FB {
    height: 3vh;
    transition: all 0.5s;
}
.MediaSocial:hover {
    height: 4vh;
}
.IT {
    height: 3vh;
    transition: all 0.5s;
}
.YT {
    height: 3vh;
    transition: all 0.5s;
}
.TW {
    height: 3vh;
    transition: all 0.5s;
}
.logoSocial {
    display: flex;
    justify-content: space-between;
    padding: 4vh;
}

.listlinks {
    padding-left: 5.5vw;
    width: 6vw;
    
}
.over_logo {
    transition: all 0.5s;
}
.over_logo:hover {
    font-size: 2.4vh;
}
.labordeta {
    padding-top: 3vh;
}
.container {
    position: relative;
    z-index: 1;
    
}   
#hero {
    min-height: 100vh;
    width: 99vw;
    position: relative;
    top:0vh;
    left: 0vw;
}
video {
    position: absolute; 
    top:0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
}
.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
.phrases{
    width: 30vw;
    padding-left: 5.5vw;
    padding-top: 35vh;
}
main {
    height: 98vh;
}
.backgroundBlack {
    background-color: rgb(0, 0, 2);
    height: 95vh;
    width: 100vw;
    padding-right: 0;
    
}
.justifyPoligon {
    display: flex;
    justify-content: flex-end;
}
.poligon {
    width: 0vw;
    height: 0vh;
    border-style: solid;
    border-width: 40.29842931937172vw 140vw 0 0;
    border-color: transparent #ffffff transparent transparent; 
}
.helpText {
    width: 50vw;
    height: 10vh;
    font-size: 5vh;
    padding-left: 5vw;
    padding-top: 0vh; 
    position: relative;
    left: 50vw;
    bottom:20vh;
}
button {
    height: 6vh;
    width: 10vw;
    background-color: red;
    border-radius: 70px;
    position: relative;
    left:120vw;
    bottom: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}    
.contact{
    font-size: 2vh;
}

.colums {
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
}
.colum1 {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.image {
    height: 30vh;
    padding-bottom: 3vh;
    transition: all 1s;
    border-radius: 35%;
}
.image:hover {
    height: 38vh;
}

    
 .text {
    width: 21vw;
    padding-top: 2vh;
    text-align:justify ;
 }
.videoYT{
    display: flex;
    justify-content: center;
    padding-top: 20vh;
    padding-bottom: 20vh;
}
footer {
    background-color: black;
    width: 100vw;
    height: 20vh;
}
.description {
    padding: 2.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textDescription{
    width: 30vw;
    font-size: 2.5vh;
    text-align: justify;

}
/* Styling for the title (Month and Year) of the calendar */
div.title {
    font: x-large Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    height: 40px;
    background-color: rgb(8, 8, 8);
    color: rgb(250, 246, 246);
    
    }
article {
    padding-bottom: 10vh;
}
/* Styling for the footer */
div.footer {
    font: small Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    }
/* Styling for the overall table */
table {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    }

.enero {
        background-image: url(/img_calendar/Enero.jpeg);
       
       }
.febrero {
    background-image: url(/img_calendar/febrero.jpeg);
    background-repeat: no-repeat;
    
}
.marzo {
    background-image: url(/img_calendar/marzo.jpeg)
}
.abril {
    background-image: url(/img_calendar/abril.jpg);
    background-repeat: no-repeat;
}
.mayo {
    background-image: url(/img_calendar/Mayo.jpg)
}
.junio {
    background-image: url(/img_calendar/junio.jpeg);
    background-repeat: no-repeat;
}
.julio {
    background-image: url(/img_calendar/Julio.jpeg);
    background-repeat: no-repeat;
}
.agosto {
    background-image: url(/img_calendar/Agosto.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
}
.septiembre {
    background-image: url(/img_calendar/septiembre.jpeg);
    background-position:bottom;
}
.octubre {
    background-image: url(/img_calendar/Octubre.jpg);
    background-repeat: no-repeat;
}
.noviembre {
    background-image: url(/img_calendar/Noviembre.jpg)
}
.diciembre {
    background-image: url(/img_calendar/diciembre.jpg);
    background-position: center;
}
/* Styling for the column headers (days of the week) */
th {
    padding: 0 0.5em;
    text-align: center;
    background-color:gray;
    color:rgb(250, 244, 244);
    }
/* Styling for the individual cells (days) */
td  {     
    font-size: medium;
    padding: 0.25em 0.25em;   
    width: 14%; 
    height: 80px;
    text-align: left;
    vertical-align: top;
    }
/* Styling for the date numbers */
.date  {     
    font-size: x-large;
    padding: 0.25em 0.25em;   
    text-align: left;
    vertical-align: top;
    color: rgb(133, 3, 133);
    
    }
/* Class for individual days (coming in future release) */
.calendar-whiteText {
    color: #ffffff;
}
.sun {
     color:red;
 }
.fight {
    background-color: black;   
}
.fight_text {
    margin-left: 0.4vw;
    padding-top: 1vh;
    font-size: 2.2vh;
}
/* Hide the month element (coming in future release) */
th.month {
    visibility: hidden;
    display:none;
    }
.protesta {
    background-color: rgb(252, 0, 0);
}
/*popUp*/
#overlay {
    position: fixed;
    top: -10vh;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    display: none;
    z-index: 2;
}

#popupBody {
    width: 40%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: relative;
    margin: 20% auto;
    transition: all 0s ease-in-out;

}

#cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F00;
    transition: all 200ms;
    cursor: pointer;
}
.box {
    margin-top: 1vh;
    height: 4vh;
    width: 30vw;
    transition: all 0s ease-in-out;
}
#enviar {
    width: 4vw;
    font-style:oblique;
}

.enviar_pop{
    font-size: 4vh;
    padding-top: 2vh;
    padding-right: 4vh;
    display: flex;
    justify-content: flex-end;
}
.texto_descriptivo_conocenos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.title_conocenos {
    padding: 10vh;
    display: flex;
    justify-content: center;
    font-size: 10vh;
}
.body_conocenos {
    background-image: url(/Conocenos/img_conocenos/Background.png);
}
.parrafo_conocenos {
    width:45vw;
    font-size: 3vh; 
    text-align: justify; 
    padding-top: 3vh; 
}
.FB_tw_tl_yt_inst_conocenos {
    margin: 10vh;
    height: 10vh;
}