* {
   margin:0;
   padding: 0;
   

}
body {
    max-width: 100%;
    position: absolute;
    top: -1vh;
    right: 0vw;
    left:0vw;
    overflow-x: hidden;
}
.pad {
    padding: 1vh;
}
.font {font-family: "Montserrat";
}
.a {
    cursor: pointer;
}
.link {
    text-decoration: none;
    
}
.white {
    color:white
}
.italic {
    font-style: italic;
}
.logoMoa {
    height: 15vh;
    position: relative;
    left: 2vw;
}
.social { 
    padding: 0.4vw;

}
.FB {
    height: 3vh;
    transition: all 0.5s;
}
.MediaSocial:hover {
    height: 4vh;
}
.IT {
    height: 3vh;
    transition: all 0.5s;
}
.YT {
    height: 3vh;
    transition: all 0.5s;
}
.TW {
    height: 3vh;
    transition: all 0.5s;
}
.logoSocial {
    display: flex;
    justify-content: space-between;
    padding: 4vh;
}

.listlinks {
    padding-left: 5.5vw;
    width: 6vw;
    
}
.over_logo {
    transition: all 0.5s;
}
.over_logo:hover {
    font-size: 2.4vh;
}
.labordeta {
    padding-top: 3vh;
}
.container {
    position: relative;
    z-index: 2;
    
}   
#hero {
    min-height: 100vh;
    width: 99vw;
    position: relative;
    top:0vh;
    left: 0vw;
}
video {
    position: absolute; 
    top:0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
}
.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
.phrases{
    width: 30vw;
    padding-left: 5.5vw;
    padding-top: 35vh;
}
main {
    height: 98vh;
}
.backgroundBlack {
    background-color: rgb(0, 0, 2);
    height: 95vh;
    width: 100vw;
    padding-right: 0;
    
}
.justifyPoligon {
    display: flex;
    justify-content: flex-end;
}
.poligon {
    width: 0vw;
    height: 0vh;
    border-style: solid;
    border-width: 40.29842931937172vw 140vw 0 0;
    border-color: transparent #ffffff transparent transparent; 
}
.helpText {
    width: 50vw;
    height: 10vh;
    font-size: 5vh;
    padding-left: 5vw;
    padding-top: 0vh; 
    position: relative;
    left: 50vw;
    bottom:20vh;
}
button {
    height: 6vh;
    width: 10vw;
    background-color: red;
    border-radius: 70px;
    position: relative;
    left:120vw;
    bottom: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}    
.contact{
    font-size: 2vh;
}

.colums {
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
}
.colum1 {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.image {
    height: 30vh;
    padding-bottom: 3vh;
    transition: all 1s;
    border-radius: 35%;
}
.image:hover {
    height: 38vh;
}

    
 .text {
    width: 21vw;
    padding-top: 2vh;
    text-align:justify ;
 }
.videoYT{
    display: flex;
    justify-content: center;
    padding-top: 20vh;
    padding-bottom: 20vh;
}
footer {
    background-color: black;
    width: 100vw;
    height: 20vh;
}
.description {
    padding: 2.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textDescription{
    width: 30vw;
    font-size: 2.5vh;
    text-align: justify;

}